body {
  background: #263238;
  display: flex;
  height: 100vh;
  user-select: none;
}

#app {
  font-family: "Avenir", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  background: white;
  margin: auto;
  width: 50%;
}

.avatar {
  margin-top: 15px;
  width: 100%;
  text-align: center;
}
.avatar img {
  width: 40%;
}
.form {
  padding: 32px 38px;
}

.form-group {
  margin-bottom: 12px;
  padding-bottom: 16px;
  position: relative;
}

.form-group label {
  color: #0e0d0d;
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  color: #2c2c2c;
}

.form-group input:focus {
  outline: 0;
  border-color: #5bb0e9;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
.form-group input:hover {
  outline: 0;
  border-color: #76b7e2;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.form-group.success input {
  border-color: #45b373;
}
.form-group.error input {
  border-color: #e24b3a;
}

.form-group small {
  color: #e24b3a;
  position: absolute;
  bottom: -3px;
  left: 10px;
  /* visibility: hidden; */
}

/* .form-group.error small {
  visibility: visible;
} */

.form button {
  cursor: pointer;
  background: #45b373;
  border: 2px solid #45b373;
  border-radius: 4px;
  color: white;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.form button:hover {
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.3);
}
.form .checkbox-group {
  position: relative;
  display: flex;
  justify-items: flex-start;
  margin-top: 10px;
}
.form .checkbox-group input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  padding: 10px;
  font-size: 14px;
  color: #2c2c2c;
  cursor: pointer;
}
.form .checkbox-group label {
  color: #0e0d0d;
  display: block;
  margin-left: 5px;
  cursor: pointer;
}

.footer-group {
  margin-top: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-group button {
  cursor: pointer;
  background: #e24b3a;
  border: 2px solid #e24b3a;
  border-radius: 4px;
  color: white;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100px;
}
